html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4ab9cb;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  min-height: 500px;
}

:root {
  --top-bottom-margin: 80px;
  --top-initial-state: translateY(calc(50vh - var(--top-bottom-margin)));
  --top-anim-delay: 1s;
  --top-anim-duration: 0.75s;
  --rest-anim-delay: calc(
    var(--top-anim-delay) + var(--top-anim-duration) - 0.25s
  );
  --rest-anim-duration: 1s;
}

.top {
  display: flex;
  align-items: center;
  margin-top: var(--top-bottom-margin);
  animation-duration: var(--top-anim-duration);
  animation-delay: var(--top-anim-delay);
  animation-fill-mode: forwards;
  animation-name: topSlideUp;
  transform: var(--top-initial-state);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes topSlideUp {
  from { transform: var(--top-initial-state); }
  to { transform: translateY(0); }
}

.top h1 {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  font-family: 'Lato';
  font-weight: lighter;
  opacity: 0;
  animation-duration: var(--rest-anim-duration);
  animation-delay: var(--rest-anim-delay);
  animation-fill-mode: forwards;
  animation-name: fadein;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.middle p {
  font-size: 30px;
  max-width: 570px;
  margin-left: 20px;
  margin-right: 20px;
}

.middle a {
  text-decoration: underline;
}

.bottom {
  display: flex;
  margin-bottom: var(--top-bottom-margin);
  font-family: 'Lato';
  font-weight: lighter;
  opacity: 0;
  animation-duration: var(--rest-anim-duration);
  animation-delay: var(--rest-anim-delay);
  animation-fill-mode: forwards;
  animation-name: fadein;
}